.about-title {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

.about-heading {
  color: #d8e9a8;
  font-weight: bolder;
  text-decoration: underline #d8e9a8;
}

.user-about {
  border: 5px outset #d8e9a8;
  border-width: 2px;
  margin: 30px;
  position: relative;
}

.img-about {
  width: 300px;
  display: inline-block
}

p {
  display: inline-block;
  max-width: 700px;
}

.img {
  display: inline-block;
  padding: 24px;
  width: 300px;
}

.user-info {
  /* padding-top: 100px; */
  display: inline-block;
  margin-left: 50px;
  margin-bottom: 0px;
}

.all-user-info {
  position: absolute;
  top: 20%;
}
