:root {
  --Heart-Red: #d82148;
  --Text-color: rgba(255, 255, 255, 0.55);
  --On-hover-color: rgba(255, 255, 255, 0.75);
  --Dark-theme-background: #222831;
}

.dark {
  background-color: var(--Dark-theme-background);
  color: var(--On-hover-color);
}

.light {
  background-color: transparent;
  color: var(--Dark-theme-background);
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  position: sticky;
  bottom: 0;
  color: var(--Text-color);
  background-color: var(--Dark-theme-background);
}

label {
  color: var(--On-hover-color);
}

.attribution {
  padding: 0;
  margin: 0;
}

#about {
  text-decoration: solid;
  color: var(--On-hover-color);
}

.fa-beat {
  color: var(--Heart-Red);
}

#root {
  margin: 0 auto;
  width: 60vw;
}

main {
  padding-top: 40px;
  min-height: 100vh;
}

.pages-layout {
  margin-top: 20px;
}

.img-fluid {
  border-radius: 20px;
  margin-bottom: 20px;
  height: 150px;
  object-fit: cover;
}

/* favorites view over gifs */

.grid__col-sizer,
.photo-item {
  width: 18%;
}

.grid__gutter-sizer {
  width: 2%;
}

.photo-item {
  margin-bottom: 10px;
  float: left;
}

.photo-item__image {
  display: block;
  max-width: 100%;
}

.page-load-status {
  display: none; /* hidden by default */
  padding-top: 20px;
  border-top: 1px solid #ddd;
  text-align: center;
  color: #777;
}

.photo-item:hover {
  transform: scale(1.4);
  transition: transform 1s;
  z-index: 1;
}

.loader-ellips {
  font-size: 30px; /* change size here */
  position: relative;
  width: 4em;
  height: 1em;
  margin: 10px auto;
}

.loader-ellips__dot {
  display: block;
  width: 1em;
  height: 1em;
  border-radius: 0.5em;
  background: #dddddd; /* change color here */
  position: absolute;
  animation-duration: 0.5s;
  animation-timing-function: ease;
  animation-iteration-count: infinite;
}

.loader-ellips__dot:nth-child(1),
.loader-ellips__dot:nth-child(2) {
  left: 0;
}
.loader-ellips__dot:nth-child(3) {
  left: 1.5em;
}
.loader-ellips__dot:nth-child(4) {
  left: 3em;
}

@keyframes reveal {
  from {
    transform: scale(0.001);
  }
  to {
    transform: scale(1);
  }
}

@keyframes slide {
  to {
    transform: translateX(1.5em);
  }
}

.loader-ellips__dot:nth-child(1) {
  animation-name: reveal;
}

.loader-ellips__dot:nth-child(2),
.loader-ellips__dot:nth-child(3) {
  animation-name: slide;
}

.loader-ellips__dot:nth-child(4) {
  animation-name: reveal;
  animation-direction: reverse;
}

@media (max-width: 1400px) {
  .grid__col-sizer,
  .photo-item {
    width: 20%;
  }
}

@media (max-width: 1000px) {
  .grid__col-sizer,
  .photo-item {
    width: 32%;
  }

  .to-top {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .grid__col-sizer,
  .photo-item {
    width: 48%;
  }
}

.upload-section {
  margin: 8% auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.give-me-gif {
  max-width: 600px;
  width: 100%;
  height: 50vh;
  object-fit: contain;
  padding-bottom: 2rem;
}

.upload-info {
  align-self: start;
  margin-top: -1em;
}

.file-size-error {
  background-color: #feefb3;
  color: #9f6000;
}

.copyright {
  float: left;
  text-align: center;
}

#top {
  border: none;
}

.to-top {
  border: none;
  width: 10vw;
  float: right;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.to-top-btn {
  font-size: 2.5em;
}

ul {
  list-style: none;
}

.list-group-item {
  padding: 10px 5px;
  cursor: pointer;
}

/* Add Category */
.add-category-section {
  margin: 8% auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 100%;
}

.category-menu {
  cursor: pointer;
}

.category-name {
  margin-right: 10px;
}

.add-category-btn {
  font-size: 0.9em;
}

p.add-err-msg {
  display: block;
  text-align: center;
  margin: 3px;
}

div.add-err-msg {
  font-size: 1.4em;
  margin: 0% auto 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  width: 108%;
  border-radius: 15px;
}

#add-more-category #home-page {
  margin-right: 10px;
}
#home-page {
  margin-left: 10px;
}

/* Gif modal */

body {
  font-family: Arial, Helvetica, sans-serif;
}

#modal-image {
  border-radius: 5px;
  max-height: 70vh;
  object-fit: contain;
  transition: 0.3s;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.716); /* Black w/ opacity */
}
/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
  font-size: 1.4rem;
}

/* Add Animation */
.modal-content,
#caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* The Close Button */
.close,
.share-gif,
.favorite-gif {
  /* position: absolute; */
  color: #f1f1f1;
  font-size: 1.4em;
  font-weight: bold;
  transition: 0.3s;
}

.favorite-gif {
  padding: 20px;
}

#modal-line-icons {
  position: absolute;
  display: inline-block;
  top: 50px;
  right: 20px;
}

#icon-message {
  width: 100%;
  position: absolute;
  top: 0;
  left: calc(100% - 280px);
  margin: 0;
}

#liveToast {
  width: 280px;
  text-align: end;
  background-color: transparent;
  color: var(--On-hover-color);
  font-size: 1.2rem;
  box-shadow: none;
  border: none;
}

.close:hover,
.close:focus,
.share-gif:hover,
.share-gif:focus,
.favorite-gif:hover,
.favorite-gif:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
/* Gif modal - End */

.transform-link {
  transform: rotate(180deg);
  transition: transform 1s;
}

/* Login, singIn Start */
.text-center {
  display: flex;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}

.form-signin input[type='email'] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type='password'] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

#btnLogin {
  margin-bottom: 6px;
}

#txtEmail {
  margin-bottom: 6px;
}

.form-floating > label {
  color: var(--Dark-theme-background);
}

.team-logo {
  border-radius: 50%;
}

.login-view {
  width: 60%;
  margin: 0 auto;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

@media (min-width: 768px) {
  .bd-placeholder-img-lg {
    font-size: 3.5rem;
  }
}

#divLoginError {
  margin-top: 15px;
  margin-bottom: 15px;
}

/* Login, singIn End: */

.user-info {
  margin-right: 25px;
  text-decoration: none;
  color: var(--Text-color);
}

.user-info:hover {
  color: var(--On-hover-color);
}

#login-link {
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  padding: 6px;
}

.user-avatar {
  width: 40px;
  height: 40px;
}

/* remove category view */
.remove-category-select {
  display: inline-block;
  margin: 1px;
}

#search-input {
  border: none;
  margin: 0;
  padding: 7px 8px;
  font-size: 14px;
  border: 1px solid transparent;
  border-radius: 15px;
}

#search-btn {
  margin: auto 0;
  overflow: hidden;
  width: 32px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  cursor: pointer;
  opacity: 0.7;
  font-size: 1.5rem;
}

.magnifying-glass-icon {
  width: 30px;
  padding-top: 8px;
}

#search-form {
  margin: 0 auto;
  text-align: start;
}

.container-fluid {
  width: 60vw;
}

#trending {
  border-radius: 40%;
}

/* -----  search suggest ----- */
.suggestions {
  background-color: rgba(255, 255, 255, 0.5);
  display: block;
  list-style-type: none;
  margin: 50px 0 0 2px;
  padding: 0;
  position: absolute;
  width: 185px;
  z-index: 3;
}

.suggestions > li {
  border-color: gray;
  border-image: none;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  padding-left: 5px;
}

.suggestions > li:last-child {
  border-bottom: 1px solid gray;
}

/* SLIDER CHECKBOX */
.switch {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #557b83;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(7px);
  -ms-transform: translateX(7px);
  transform: translateX(7px);
}

.slider.round {
  border-radius: 17px;
}

.slider.round:before {
  border-radius: 50%;
}
/* no-favorite*/
#no-favorites-message {
  display: block;
  max-width: 400px;
  margin: 0 auto;
  color: var(--On-hover-color);
  padding-left: 60px;
}

/* no uploads*/
#defaultGif-view {
  max-width: 600px;
  position: inherit;
  margin: 0 auto;
  float: left;
}

/* About Info Page */

.about-page .speakers {
  border: 3px solid #dee2e6;
  border-radius: 20px;
}

.about-page .speakers .spk-img {
  position: relative;
}

.about-page .speakers .spk-img img {
  width: 100%;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.about-page .speakers .spk-info {
  text-align: center;
  padding: 20px 0;
}
.about-page .speakers .spk-info h3 {
  font-size: 1.3em;
  line-height: 1.3em;
  margin-bottom: 5px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  transition: all 0.4s;
  text-transform: capitalize;
}

.about-page .speakers .spk-info p {
  font-size: 0.8em;
  margin-bottom: 0;
}

.about-page {
  width: 60vw;
  margin: 0 auto;
  text-align: center;
}

.about-page h2 {
  text-align: center;
  padding-top: 30px;
  padding-bottom: 25px;
}

.all-team-members {
  width: 100%;
  padding-top: 40px;
}
.team-member {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.spk-img img {
  max-height: 212px;
}


/* Theme and theme-switch css : */
.light-theme,
.dark-theme {
  font-size: 1.1rem;
  margin-top: 3px;
}

#theme-switch {
  width: 60px;
  display: flex;
  align-items: center;
  align-content: flex-start;
  justify-content: space-between;
}

