.single-news {
  padding: 24px;
}

.single-news-card {
  background-color: var(--Dark-green-color);
  border: 3px solid var(--Light-green-color);
  color: var(--Light-green-color);
}

.single-news-card > .ant-card-head {
  color: var(--Light-green-color);
}

.ant-card-body {
  position: relative;
}

.ant-card-body > a {
  position: absolute;
  right: 2em;
  bottom: 0;
  color: var(--Light-green-color);
}
