.Header {
  padding: 10px 5em 0;
  background-color: var(--Mid-green-color);
  height: 128px;
  position: relative;
  width: 100vw;
}

.Header > h1 {
  text-align: center;
  color: lightgreen;
}

.logo {
  font-family: cursive;
}

.nav-group {
  display: inline-block;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0;
}

.nav-btn {
  background-color: #d8e9a8;
  color: #4e9f3d;
}

.login-controls {
  position: absolute;
  bottom: 1em;
  right: 15em;
}

/* .login-btn {
  width: 81px;
   background-color: #d8e9a8;
  color: #4e9f3d;
} */

.avatar {
  background-color: lightgreen;
  border-radius: 50%;
  width: 100px;
  position: absolute;
  right: 6em;
  bottom: 1em;
  border: 3px solid #191a19;
}

.search-filter {
  display: inline-block;

  position: absolute;
  bottom: 10;
  bottom: 0%;
  left: 30%;
}