.Footer {
  background-color: var(--Mid-green-color);
  color: rgb(192, 239, 192);
}

.attribution {
  margin: 10px 30px;
  font-size: large;
}

.heart-icon {
  margin: 0 4px;
}

.about-link {
  margin-left: 4px;
  color: rgb(138, 216, 247);
  border: none;
  cursor: pointer;
  padding: 0;
}
