.ant-form-item-label > label {
  color: #FFFFFF 
}

.ant-drawer-header {
  background-color: #1E5128;
}

.ant-drawer-title {
  color: #FFFFFF;
}

.ant-drawer-close {
  color: #FFFFFF;
}

.ant-drawer-content {
  background-color: #1E5128;
}



.drawer-form-input {
  width: 280px;
}

.login-controls {
  position: absolute;
  bottom: 1em;
  right: 15em;
}

.login-btn {
  width: 81px;
  background-color: #d8e9a8;
  color: #4e9f3d;
}

.register-btn {
  margin-left: 10px;
  background-color: #d8e9a8;
  color: #4e9f3d;
}

.drawer-form-input {
  background-color: #1E5128;
  border-radius: 20px;
  border-color: #D8E9A8;
  border-width: 5px;
}

.login-suggestion {
  color: #FFFFFF;
  padding-right: 15px;
}


.login-suggestion p {
  padding-right: 10px;
  color: #FFFFFF;
  text-decoration: underline;
  font-weight:500;
  cursor: pointer;
}

.form-btn {
  border-color: #4E9F3D;
  border-radius: 20px;
  color: #FFFFFF;
  background-color: #4E9F3D;
  font-weight: bold;
  
}

.switch-btn {
  border-radius: 20px;
  width: 81px;
  background-color: #d8e9a8;
  color: #4e9f3d;
}


