.ant-tag-checkable {
  background-color: #d8e9a8;
  border-color: #1E5128;

}

.ant-tag {
  background-color: #1E5128;

}

.ant-tag-checkable:not(.ant-tag-checkable-checked):hover {
  color: #1E5128;
  background-color: #d8e9a8;
}

.create-topic-title-input {
  padding-top: 30px;
  padding-bottom: 10px;
}

.create-topic-content-input {
  padding-top: 30px;
}

.create-btn {
  text-align: end;
  padding-right: 0px;
  padding-top: 20px;
}

.create-btn button{
  cursor: pointer;
  width: 100px;
  color: #1E5128;
  background-color: #d8e9a8;
  border-radius: 15px;
}

label {
  font-size: 1.2em;
}