.topics-controls {
  display: block;
  margin: 2rem 0;
  min-height: 10px;
  width: 90%;
} 

.add-btn {
  display: inline-block;
  float: right;
  background-color: #d8e9a8;
  color: #1E5128;
  border-radius: 15px;
}

.ant-pagination {
  display: inline-block;
  float: left;
  color: #d8e9a8;
}

.filter-component {
  display: inline-block;
  /* margin-left: 100px; */
}