.MapContainer {
  display: flex;
}

.map-form {
  margin-left: 2em;
}

.map-form > h1 {
  color: var(--Light-green-color);
  text-decoration: underline;
}

.map-modal-heading {
  color: var(--Light-green-color);
  text-decoration: underline;
}

.ant-modal-close-icon {
  color: var(--Light-green-color);
}

.ant-modal-header,
.ant-modal-body,
.ant-modal-footer {
  background-color: var(--Dark-gray-color);
}

.ant-modal-title {
  color: var(--Light-green-color);
}
