.UserTile {
  margin: 2rem 0;
  border: 3px solid var(--Light-green-color);
  background-color: var(--Dark-green-color);
  min-height: 60px;
  width: 80vw;
}

.user-details {
  margin-left: 2rem;
  width: 90%;
}

.user-activity {
  display: flex;
  flex-direction: row;
}

.user-threads,
.user-posts {
  text-align: center;
}

.user-avatar {
  max-width: 10%;
}

.user-avatar-icon {
  width:100%;
  height: 100%;
  height: auto;
  border: 2px solid var(--Light-green-color);
  background-color: lightgreen;
  
}
