.UserInfo {
  height: 100%;

}

.outer-wrap {
  display: flex;
  height: 100%;
  width: 80vw;
  justify-content:flex-start;
  gap: 2rem;
  border: 2px solid var(--Light-green-color);
  background-color: var(--Mid-green-color);
}

.avatar-info {
  border-radius: 50%;
  min-height:20px;
  min-width:20px;
  margin: 0  auto;
  text-align: center;
  line-height: 1;
  box-sizing: border-box;
  white-space: nowrap;
  height: 20%;
  width: 80%;
}


.left-content {
  /* border: 2px solid var(--Light-green-color); */
  height: 100%;
  width: 15%;
  padding-top: 1%;
}

.right-content {
  width : 60%;
  height: 100%;
  flex-direction: column;
}

.right-top {
  display: flex;
  justify-content:space-evenly;
  height: 40%;
}

.top-tile {
  display: flex;
  box-sizing: content-box;
  height: 80%;
  width: 80%;
  /* border: 2px solid var(--Light-green-color);   */
  position:relative; 
  margin-left: 10px;
  
}

.top-content {
  margin-top: 20%;
  width: 100%;
  height: 100%;
  text-align: center;

}

.top-icons {  
  cursor: pointer;
  margin: auto auto;
  font-size: 500%;
}

.top-text {
  cursor: pointer;
  color: white;
  font-size: 120%;
}

.right-bottom {
  margin-left: 10px;
  box-sizing: border-box;
  width: 100%;
  height:54.5%;
  margin-top: 5%;
  /* border: 2px solid var(--Light-green-color);   */
}

.userInfo-icon {
  width:100%;
  height: 100%;
  height: auto;
  border: 2px solid var(--Light-green-color);
  background-color: lightgreen;
}

.user-data {
  width: 100%;
  
}

.buttons {
  padding-right: 10px;
  margin-bottom: 5px;
  margin-left: 40px;
}

.close-icon {
  margin: 0.1rem  0.8rem;
  top: 1%;
  right: 1%;
  font-size: 30px;
  margin-left: auto;
}









