.CategoryTile {
  margin: 2rem 0;
  border: 3px solid var(--Light-green-color);
  background-color: var(--Dark-green-color);
  min-height: 90px;
  position: relative;
}

.ant-card-body {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 0 10px;
  height: 100%;
}

.card-text {
  width: 60%;
}

.card-text > h2,
h4 {
  color: var(--Light-green-color);
}

.card-subtitle {
  color: var(--Light-gray-color);
}

.card-stats-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.card-stat > h2,
h3 {
  color: var(--Light-green-color);
  margin: 0 10px;
}

.last-post-container {
  min-height: 90px;
  max-width: 300px;
  border-left: 2px solid var(--Light-green-color);
  color: var(--Light-green-color);
  display: flex;
  align-items: center;
  width: 40%;
}

.last-post-avatar {
  background-color: var(--Light-green-color);
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  width: 40px;
}

.last-post-author {
  margin-left: 1em;
  color: var(--Light-green-color);
}

.last-post-info {
  margin-left: 1em;
}

.last-post-time {
  border-bottom: 1px solid var(--Light-green-color);
}

.delete-topic {
  position: absolute;
  top: 0;
  right: 0;
}

.delete-topic > button {
  width: 20px;
}
