.ant-comment-content-author > span {
  color: var(--Light-green-color);
}

.ant-list-split .ant-list-header {
  color: var(--Light-green-color);
  border-bottom: 1px solid var(--Light-green-color);
}

.drawer-container {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.ant-input-textarea-show-count::after {
  color: var(--Light-green-color);
}
