.TopicTile {
  margin: 2rem 0;
  border: 3px solid var(--Light-green-color);
  background-color: var(--Dark-green-color);
  min-height: 90px;
  width: 90%;
}

.left-author {
  width: 100px;
}

.left-avatar {
  background-color: var(--Light-green-color);
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  margin-top: 10px;
  width: 50px;
}

.left-author-name {
  margin-left: 1em;
  color: var(--Light-green-color);
}

.card-text {
  margin-left: 20px;
}

.card-stats-container {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.card-stat h4,
h2 {
  color: var(--Light-green-color);
  margin: 0 10px;
}

.right-topic-container {
  min-height: 90px;
  border-left: 2px solid var(--Light-green-color);
  color: var(--Light-green-color);
  display: flex;
  align-items: center;
  width: 40%;
}

.right-topic-avatar {
  background-color: var(--Light-green-color);
  border-radius: 50%;
  overflow: hidden;
  margin-left: 10px;
  width: 40px;
}

.right-topic-author {
  margin-left: 1em;
  color: var(--Light-green-color);
}

.right-topic-info {
  margin-left: 1em;
}

.right-topic-time {
  border-bottom: 1px solid var(--Light-green-color);
}
.last-post-title {
  color: var(--Light-green-color);
}

/* .delete-topic {
  margin-top: 0px;
} */
