.App {
  background-color: var(--Dark-green-color);
  color: var(--Light-green-color);
  overflow-x: hidden;
}

.breadcrumb-container {
  margin-left: 10em;
}

.view-div {
  margin: 1em 10em;
  min-height: 72vh;
}
