:root {
  --Dark-green-color: #191a19;
  --Mid-green-color: #1e5128;
  --Light-green-color: #d8e9a8;
  --Light-gray-color: #c0c0c0;
  --Dark-gray-color: #30475e;
  --Bright-green-color: #4E9F3D;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
