.Category-tile {
  display: flex;
}

.add-category {
  display: block;
}

.category-list {
  display: block;
}

.add-category-btn {
  display: block;
  background-color: #d8e9a8;
  color: #1E5128;
  border-radius: 15px;
}
